<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ExportFileLocation.GmoCis" value="c:\Temp\Gmo.txt"/>
    <add key="ExportFileLocation.KcplCis" value="c:\Temp\Kcpl.txt"/>
    <add key="Kcpl.AssetLoad.Url" value="http://localhost:8080/AssetLoad"/>
    <add key="Kcpl.AssetUpdate.Url" value="http://localhost:8080/AssetUpdate"/>
    <add key="Kcpl.AssetTestResult.Url" value="http://localhost:8080/TestResult"/>
    <!--<add key="Kcpl.InitialProcessingOn" value="false" />-->
  </appSettings>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    <services>
      <service name="AMSLLC.Listener.Service.Implementation.KCPL.CustomService">
        <endpoint address="" binding="basicHttpBinding" contract="AMSLLC.Listener.Service.Contract.IService1"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/KCPLService/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="AMSLLC.Listener.Service.Implementation.KCPL.TransactionResponseService">
        <endpoint address="" binding="basicHttpBinding" contract="AMSLLC.Listener.Service.Implementation.KCPL.ITransactionResponse"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/KCPLExternalService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="False"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
        <behavior name="serviceMetadataHttps">
          <serviceMetadata httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
