<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler,NHibernate" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings configSource="ConnectionStrings.config" />
  <hibernate-configuration configSource="nHibernate.config" />
  <log4net configSource="log4net.config" />
  <appSettings>
    <add key="WebService.Client.UserName" value="user" />
    <add key="WebService.Client.Password" value="password" />
    <add key="WebService.Service.UserName" value="" />
    <add key="WebService.Service.Group" value="" />
    <add key="Test.UseMockup" value="true" />
    <add key="Test.MockupFilesLocation" value="c:\Temp" />
    <add key="Customer" value="Alliant,KCP&amp;L,LabTrack,Core" />
    <add key="ExportFileLocation.GmoCis" value="c:\Temp\Gmo.txt" />
    <add key="ExportFileLocation.KcplCis" value="c:\Temp\Kcpl.txt" />
    <add key="ExportFileLocation.LabTrack" value="c:\Temp\LabTrack.txt"/>
    <add key="Kcpl.AssetLoad.Url" value="http://localhost:8080/AssetLoad" />
    <add key="Kcpl.AssetUpdate.Url" value="http://localhost:8080/AssetUpdate" />
    <add key="Kcpl.AssetTestResult.Url" value="http://localhost:8080/TestResult" />
    <add key="Kcpl.InitialProcessingOn" value="false" />
  </appSettings>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="CCAndB">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_DeviceClassificationCode" allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" realm="VR9" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="AMSLLC.Listener.Service.Implementation.KCPL.CustomService">
        <endpoint address="" binding="basicHttpBinding" contract="AMSLLC.Listener.Service.Contract.IService1" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/KCPLService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="AMSLLC.Listener.Service.Implementation.Alliant.CustomService">
        <endpoint address="" binding="basicHttpBinding" contract="AMSLLC.Listener.Service.Contract.IService1" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/AlliantService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="AMSLLC.Listener.Service.Implementation.LabTrack.CustomService">
        <endpoint address="" binding="basicHttpBinding" contract="AMSLLC.Listener.Service.Contract.IService1" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/LabTrackService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="AMSLLC.Listener.Service.Implementation.ServiceCore">
        <endpoint address="" binding="basicHttpBinding" contract="AMSLLC.Listener.Service.Contract.IService1" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Service2/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="serviceMetadataHttps" name="AMSLLC.Listener.Service.Implementation.Alliant.UpdateClassificationCode">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DeviceClassificationCode" contract="DeviceClassificationCode" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:8734/AlliantExternalService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="AMSLLC.Listener.Service.Implementation.KCPL.TransactionResponseService">
        <endpoint address="" binding="basicHttpBinding" contract="AMSLLC.Listener.Service.Implementation.KCPL.ITransactionResponse" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/KCPLExternalService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="False" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
        <behavior name="serviceMetadataHttps">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:8088/mockDeviceTestInfoABCSSOAP11Binding" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="GetDevice.DeviceTestInfoABCS" />
      <endpoint address="http://SendTestResult" binding="basicHttpBinding" bindingConfiguration="CCAndB" contract="SendTestResult.DeviceTestResultABCS" />
    </client>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="traceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="traceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.Activation" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.IdentityModel" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData=".\Traces.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="traceListener" traceOutputOptions="None">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>