<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
    <add name="WnpDb" connectionString="Server=vr9\sqlexpress;Database=wattnetplusKCPL201;User Id=wndba; Password=Wn+dbapw1;" providerName="System.Data.SqlClient" />
    <add name="ListenerDB" connectionString="Server=vr9\sqlexpress;Database=ListenerKCPL201;User Id=wndba; Password=Wn+dbapw1;" providerName="System.Data.SqlClient" />
  <!--
    <add name="WnpDb" connectionString="Server=vr9\sqlexpress;Database=wattnetplusAlliant;User Id=wndba; Password=Wn+dbapw1;" providerName="System.Data.SqlClient" />
    <add name="ListenerDB" connectionString="Server=vr9\sqlexpress;Database=Listener;User Id=wndba; Password=Wn+dbapw1;" providerName="System.Data.SqlClient" />

    <add name="WnpDb" connectionString="Server=vr9\sqlexpress;Database=wattnetplusKCPL;User Id=wndba; Password=Wn+dbapw1;" providerName="System.Data.SqlClient" />
    <add name="ListenerDB" connectionString="Server=vr9\sqlexpress;Database=ListenerKCPL;User Id=wndba; Password=Wn+dbapw1;" providerName="System.Data.SqlClient" />

  <add name="WnpDb" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=winoracle12c.cloudapp.net)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=test)));Persist Security Info=True;Password=Wn+dbapw1;User ID=SYSTEM;" providerName="System.Data.SqlClient" />
  <add name="ListenerDB" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=winoracle12c.cloudapp.net)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=test)));Persist Security Info=True;Password=LISTENER;User ID=LISTENER;" providerName="System.Data.SqlClient" />
  -->
</connectionStrings>
