<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:write-to:ColoredConsole" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\Logs\ams-listener-testclient-{Date}.txt" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
    <add key="ams:company" value="PPL"/>
    <add key="ams:application" value="dde3ff6d-e368-4427-b75e-6ec47183f88e"/>
    <add key="listener-uri" value="http://localhost:9000/listener"/>
  </appSettings>
</configuration>