<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.OData.Client" version="6.13.0" targetFramework="net4" />
  <package id="Microsoft.OData.Core" version="6.13.0" targetFramework="net4" />
  <package id="Microsoft.OData.Edm" version="6.13.0" targetFramework="net4" />
  <package id="Microsoft.Spatial" version="6.13.0" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net4" />
  <package id="Serilog" version="1.5.12" targetFramework="net4" />
</packages>