<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Test.UseMockup" value="true" />
    <add key="Test.MockupFilesLocation" value="c:\Temp" />
  </appSettings>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="CCAndB">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_DeviceClassificationCode" allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" realm="VR9" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="AMSLLC.Listener.Service.Implementation.Alliant.CustomService">
        <endpoint address="" binding="basicHttpBinding" contract="AMSLLC.Listener.Service.Contract.IService1" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/AlliantService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="serviceMetadataHttps" name="AMSLLC.Listener.Service.Implementation.Alliant.UpdateClassificationCode">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DeviceClassificationCode" contract="DeviceClassificationCode" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:8734/AlliantExternalService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="False" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
        <behavior name="serviceMetadataHttps">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:8088/mockDeviceTestInfoABCSSOAP11Binding" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="GetDevice.DeviceTestInfoABCS" />
      <endpoint address="http://SendTestResult" binding="basicHttpBinding" bindingConfiguration="CCAndB" contract="SendTestResult.DeviceTestResultABCS" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>