<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WecoMobile.Owner" value="0" />
    
    <!-- Tracking rule applied when equipment is checked out-->
    <add key="TrackingRules.Incomming.Checkout.TestProgram" value="TESTED METER"/>
    <add key="TrackingRules.Incomming.Checkout.EquipmentStatus" value="V"/>
    <add key="TrackingRules.Incomming.Checkout.ShopStatus" value="V"/>
    <add key="TrackingRules.Incomming.Checkout.LocationType" value="A"/>
    <add key="TrackingRules.Incomming.Checkout.Location" value="Op Center"/>

    <!-- Tracking rule applied when equipment is checked out-->
    <add key="TrackingRules.Outgoing.Checkout.TestProgram" value="TESTED METER"/>
    <add key="TrackingRules.Outgoing.Checkout.EquipmentStatus" value="D"/>
    <add key="TrackingRules.Outgoing.Checkout.ShopStatus" value="D"/>
    <add key="TrackingRules.Outgoing.Checkout.LocationType" value="S"/>
    <add key="TrackingRules.Outgoing.Checkout.Location" value="*LEAVE_AS_IS*"/>

    <!-- Tracking rule applied when equipment wasn't installed in the field and is checked in from truck -->
    <add key="TrackingRules.Outgoing.CheckinFromTruck.TestProgram" value="TESTED METER"/>
    <add key="TrackingRules.Outgoing.CheckinFromTruck.EquipmentStatus" value="V"/>
    <add key="TrackingRules.Outgoing.CheckinFromTruck.ShopStatus" value="V"/>
    <add key="TrackingRules.Outgoing.CheckinFromTruck.LocationType" value="S"/>
    <add key="TrackingRules.Outgoing.CheckinFromTruck.Location" value="*LEAVE_AS_IS*"/>

    <!-- Tracking rule applied when equipment was installed in the field and is checked in from truck -->
    <add key="TrackingRules.Outgoing.CheckinFromField.TestProgram" value="UNTESTED METER"/>
    <add key="TrackingRules.Outgoing.CheckinFromField.EquipmentStatus" value="V"/>
    <add key="TrackingRules.Outgoing.CheckinFromField.ShopStatus" value="V"/>
    <add key="TrackingRules.Outgoing.CheckinFromField.LocationType" value="S"/>
    <add key="TrackingRules.Outgoing.CheckinFromField.Location" value="*LEAVE_AS_IS*"/>
  </appSettings>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <services>
      <service name="AMSLLC.Listener.Service.Implementation.WecoMobile.SiteInfo">
        <endpoint address="" binding="basicHttpBinding" contract="AMSLLC.Listener.Service.Implementation.WecoMobile.ISiteInfo" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/WecoMobile/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="False" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
        <behavior name="serviceMetadataHttps">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
