<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Service.Implementation.WecoMobile.Feed1">
        <endpoint address="Feed1" behaviorConfiguration="Service.Implementation.WecoMobile.Feed1Behavior" binding="webHttpBinding" contract="Service.Implementation.WecoMobile.IFeed1" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Service.Implementation.WecoMobile/" />
          </baseAddresses>
        </host>
      </service>
      <service name="AMSLLC.Listener.Service.Implementation.WecoMobile.SiteInfo">
        <endpoint address="" binding="basicHttpBinding" contract="AMSLLC.Listener.Service.Implementation.WecoMobile.ISiteInfo1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/AMSLLC.Listener.Service.Implementation.WecoMobile/SiteInfo1/" />
          </baseAddresses>
        </host>
      </service>
      <service name="AMSLLC.Listener.Service.Implementation.WecoMobile.SiteInfoRequest">
        <endpoint address="" binding="basicHttpBinding" contract="AMSLLC.Listener.Service.Implementation.WecoMobile.ISiteInfoRequest">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/AMSLLC.Listener.Service.Implementation.WecoMobile/SiteInfoRequest/" />
          </baseAddresses>
        </host>
      </service>
      <service name="AMSLLC.Listener.Service.Implementation.WecoMobile.Location">
        <endpoint address="" binding="basicHttpBinding" contract="AMSLLC.Listener.Service.Implementation.WecoMobile.ILocation">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/AMSLLC.Listener.Service.Implementation.WecoMobile/Location/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Service.Implementation.WecoMobile.Feed1Behavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup></configuration>
