<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="WNPDatabase" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=wattnetplusDemo;Integrated Security=True;" />
  <add name="ListenerDB" providerName="System.Data.SqlClient" connectionString="Server=localhost\sqlexpress;Database=ListenerKCPL220;User Id=wndba; Password=Wn+dbapw1;" />
  <add name="ListenerContext" providerName="System.Data.SqlClient" connectionString="Server=localhost\sqlexpress;Database=ListenerKCPL220;User Id=wndba; Password=Wn+dbapw1;MultipleActiveResultSets=True;App=EntityFramework"/>

  <!--<add name="ListenerDB" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=winoracle12c.cloudapp.net)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=test)));Persist Security Info=True;Password=LISTENER;User ID=LISTENER;" providerName="Oracle.ManagedDataAccess.Client" />
  <add name="ListenerContext" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=winoracle12c.cloudapp.net)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=test)));Persist Security Info=True;Password=LISTENER;User ID=LISTENER;" providerName="Oracle.ManagedDataAccess.Client" />-->
</connectionStrings>
