<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="WNPDatabase" 
    connectionString="Data Source=localhost\sqlexpress;Initial Catalog=wattnetplusDemo;Integrated Security=True;" 
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
</connectionStrings>
