<#@ include file="ListenerController.ttinclude" #>
<#+
public static class Configuration
{
	public static string ConnectionString = "Server=localhost\\sqlexpress;Database=ListenerKCPL220;User Id=wndba; Password=Wn+dbapw1;MultipleActiveResultSets=True;App=EntityFramework";
}
#>